body {
  background-color: #000;
  margin: 0;
  font-family: "Poppins", sans-serif;
  padding: 0 60px;
  color: white;
}
canvas {
  max-width: 100%;
}
.profileSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.name {
  text-align: center;
  justify-content: center;
  margin: 0%;
}
.description {
  color: white;
  margin: 10 0 0 0;
}
.profilePhoto {
  box-shadow: inset 0px 1px 20px black;
  filter: grayscale();
  display: block;
  background-image: url("julian.jpeg");
  background-size: cover;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.stack {
  display: flex;
  margin-top: 100px;
  flex-direction: column;
}
.stackSection {
  display: flex;
}
.subtitle {
  text-align: center;
}
.header {
  text-align: start;
  margin-top: 60px;
}
.op {
  margin-top: 60px;
}
.contacts {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
